body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: moveInLeft 2.5s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 700;
    animation: moveInRight 2.5s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: $color-gradient-primary, $color-gradient-rainbow;
  background-size: 100% 100%, 0 100%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.5s;

  &:hover {
    background-size: 0 100%, 100% 100%;
    transform: skewX(5deg) scale(1.02);
    text-shadow: 1rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
